@import url("myStyle.css");



@mixin div-style{
  border: 4px solid rgb(255, 181, 255);
  width: 95%;
  padding: 1px;
  margin-left: 1%;
}
div{
  @include div-style;
}




@mixin fdeals-style{
  border: 4px solid rgb(255, 181, 255);
  width: 95%;
  padding: 1px;
  margin-left: 1%;
}
#fdeals{
  @include fdeals-style;
}






nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
  display:flex;
}

nav li {
  @extend ul;
  float: left;
  margin: 5px;
  display:flex;
}
#pwd:focus{
  background-color: #f59ffb;
}
#fname:focus{
  background-color: #f59ffb;
}
#lname:focus{
  background-color: #f59ffb;
}
#email:focus{
  background-color: #f59ffb;
}
#message:focus{
  background-color: #f59ffb;
} 


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin:2%;
}

li:hover{
  background-color: blueviolet;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: lightblue;
}  

footer{
  text-align: center;
}
#image{
  height: 120px;
  width: 100%;
}
#cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}




.grid_image_i{
  height : 200px;
  width: 160px;
}
.labels::first-letter {
  font-size: 1rem;
  font-weight: bold;
  color: red;
}

